.main{
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    margin: 40px 0;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
}

.movieContainer{
    padding: 0 100px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#movieImg{
    width: 300px;
    border-radius: 20px 20px 0 0;
}

.card{
    padding: 10px;
    width: 300px;
    background-color: rgba(70, 6, 81, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    color: white;
    transition: 0.5S;
}

.card:hover{
    background-color: #2E3192;
    transition: 0.5S;
}

.warpTitle>h1{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.warpTitle>p{
    font-size: 18px;
    text-align: center;
}